# ======================================================
# CENTRAL TELEFONICA TG
# Archivo ejemplo de variables de entorno
# ======================================================
#
# INSTRUCCIONES:
#
# 1. Copiar este archivo y renombrarlo:
#
#       .env.example  ->  .env
#
# 2. Cada integrante debe modificar el archivo .env
#    con sus datos reales de conexión.
#
# 3. El archivo .env NO debe subirse a GitHub si fuese un proyecto real, ya que contiene credenciales sensibles.
#    En este caso, al ser un proyecto académico, se puede subir con sus credenciales de prueba, pero se recomienda agregarlo al .gitignore para evitar subir información real.
#
# 4. Este archivo .env.example SI debe permanecer
#    en el repositorio como referencia del equipo.
#
# ======================================================



# ======================================================
# ENTORNO DEL SISTEMA
# ======================================================

APP_NAME=Central_TG

# Valores permitidos:
# LOCAL
# DESARROLLO
# PRODUCCION

APP_ENV=DESARROLLO



# ======================================================
# CONFIGURACION SOCKET TCP
# ======================================================
#
# Comunicación:
#
# C# Simulador
#        |
#        v
# Python Identificador
#
# Python Identificador
#        |
#        v
# Java Proveedor
#
# ======================================================


# Socket Python
IDENTIFICADOR_HOST=127.0.0.1
IDENTIFICADOR_PORT=5000


# Socket Java
PROVEEDOR_HOST=127.0.0.1
PROVEEDOR_PORT=6000


# Codificación estándar
SOCKET_ENCODING=UTF-8



# ======================================================
# MYSQL - IDENTIFICADOR (PYTHON)
# ======================================================
#
# Utilizado para:
#
# - Teléfonos
# - Tarjetas SIM
# - Dispositivos
# - Llamadas activas
# - Bitácoras
#
# ======================================================


MYSQL_HOST=100.114.84.5

MYSQL_PORT=3306

MYSQL_DATABASE=central_identificador


# Cambiar según integrante:
#
# jose
# gabriel
# charlie

MYSQL_USER=usuario_mysql


# Colocar únicamente en el archivo .env real

MYSQL_PASSWORD=tu_password #aqui colocar la contraseña real de MySQL



# ======================================================
# SQL SERVER - PROVEEDOR (JAVA)
# ======================================================
#
# Utilizado para:
#
# - Clientes
# - Servicios
# - Saldos
# - Tarifas
# - Movimientos
#
# ======================================================


SQLSERVER_HOST=100.88.25.17

SQLSERVER_PORT=49172

SQLSERVER_DATABASE=CentralProveedor


# Cambiar según integrante:
#
# jose_dev
# gabriel_dev
# charlie_dev

SQLSERVER_USER=usuario_sqlserver


# Colocar únicamente en el archivo .env real

SQLSERVER_PASSWORD=tu_password



# ======================================================
# SEGURIDAD AES
# ======================================================
#
# Llave utilizada para cifrado de:
#
# - Número telefónico
# - IMEI
# - SIM
#
# IMPORTANTE:
# Todos deben utilizar la misma llave
# durante las pruebas de integración.
#
# ======================================================


AES_SECRET_KEY=colocar_clave_aes



# ======================================================
# LOGS / BITACORAS
# ======================================================


LOG_LEVEL=DEBUG


# Carpeta donde cada componente puede guardar logs

LOG_PATH=logs/


# ======================================================
# FIN CONFIGURACION
# ======================================================