<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MongoUsuarios"
			 connectionString="mongodb://localhost:27017" />
	</connectionStrings>

	<appSettings>
		<add key="MongoDatabaseName" value="central_tg_mongo" />
		<add key="AesKeyBase64" value="qk1U2sHck1c3G0lHY0uFVQxlhO8m0cRk8mJ4Z2m8m1E=" />
		<add key="AesIvBase64" value="MTIzNDU2Nzg5MDEyMzQ1Ng==" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.serviceModel>
		<services>
			<service name="CentralTelefonica.WS_Autenticacion.Service1">
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="CentralTelefonica.WS_Autenticacion.IAutenticacionService" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>