<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Master.cs" Inherits="WebAdministrativo.SiteMaster" %>
<!DOCTYPE html>
<html lang="es">
<head runat="server">
    <meta charset="utf-8" />
    <title>Central Telefonica - Administrativo</title>
    <link rel="stylesheet" href="Styles/site.css" />
</head>
<body>
    <form id="form1" runat="server">
        <header class="topbar">
            <div class="brand">Central Telefonica</div>
            <nav>
                <asp:HyperLink runat="server" NavigateUrl="~/LineasNuevas.aspx" Text="Nuevas lineas" />
                <asp:HyperLink runat="server" NavigateUrl="~/LineasActivar.aspx" Text="Activar linea" />
                <asp:HyperLink runat="server" NavigateUrl="~/LineasDevolucion.aspx" Text="Devolucion linea" />
                <asp:HyperLink runat="server" NavigateUrl="~/Facturacion.aspx" Text="Calcular facturacion" />
                <asp:HyperLink runat="server" NavigateUrl="~/Administradores.aspx" Text="Administradores" />
                <asp:LinkButton runat="server" ID="SalirLink" Text="Salir del sitio" OnClick="SalirLink_Click" />
            </nav>
        </header>
        <main class="shell">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
        </main>
        <footer class="footer">Central Telefonica - Sitio administrativo</footer>
    </form>
</body>
</html>
