<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WsAutenticacionUrl" value="http://localhost:59113/Service1.svc" />
    <add key="WsProveedorUrl" value="http://localhost:55254/ProveedorService.svc" />
    <add key="AesKeyBase64" value="qk1U2sHck1c3G0lHY0uFVQxlhO8m0cRk8mJ4Z2m8m1E=" />
    <add key="AesIvBase64" value="MTIzNDU2Nzg5MDEyMzQ1Ng==" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpFrom" value="centraltelefonicatg@gmail.com" />
    <add key="SmtpUser" value="centraltelefonicatg@gmail.com" />
    <add key="SmtpPassword" value="" />
    <add key="SmtpEnableSsl" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
</configuration>
